.label {
  display: block;
  margin-top: 20px;
}

.input {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 10px;
  width: 340px;
  border: 1px solid yellowgreen;
  border-radius: 5px;
}

.input::placeholder {
  color: hsla(60, 57%, 91%, 0.597);
}
.input:focus,
.input:hover,
.input:active {
  border: px solid #310101;
  box-shadow: 0 0 2px 0 #000;
}
