.list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 5px;
  row-gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border: 1px solid wheat;
  border-radius: 5px;
  row-gap: 10px;
  color: black;
}
